.elementor-19 .elementor-element.elementor-element-0e66862 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-0e66862:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-0e66862>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #009B67;
}

.elementor-19 .elementor-element.elementor-element-0e66862,
.elementor-19 .elementor-element.elementor-element-0e66862::before {
    --border-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-8959588 {
    text-align: left;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 46px;
    font-weight: 400;
    text-shadow: 0px 0px 55px #000000;
}

.elementor-19 .elementor-element.elementor-element-7ff4a58 {
    font-family: "Montserrat", Sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-shadow: 0px 0px 10px #000000;
}

.elementor-19 .elementor-element.elementor-element-3444bdf {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 11px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-19 .elementor-element.elementor-element-858d628 {
    font-family: "Montserrat", Sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27);
}

.elementor-19 .elementor-element.elementor-element-a93d260 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-69f13e8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-69f13e8.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-19 .elementor-element.elementor-element-231aded img {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #009B67;
    border-radius: 5px 5px 5px 5px;
}

.elementor-19 .elementor-element.elementor-element-bdac28f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-46255fe {
    text-align: left;
    width: var( --container-widget-width, 103.535%);
    max-width: 103.535%;
    --container-widget-width: 103.535%;
    --container-widget-flex-grow: 0;
}

.elementor-19 .elementor-element.elementor-element-46255fe img {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #009B67;
    border-radius: 5px 5px 5px 5px;
}

.elementor-19 .elementor-element.elementor-element-46255fe.elementor-element {
    --align-self: flex-start;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-19 .elementor-element.elementor-element-1017137 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-1017137:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-1017137>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #009B67;
}

.elementor-19 .elementor-element.elementor-element-1017137,
.elementor-19 .elementor-element.elementor-element-1017137::before {
    --border-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-11c2c9e {
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 39px;
    font-weight: 400;
    text-transform: capitalize;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.82);
}

.elementor-19 .elementor-element.elementor-element-9d0fb2a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-7a323f0 {
    font-family: "Montserrat", Sans-serif;
    font-size: 23px;
    font-weight: 400;
}

.elementor-19 .elementor-element.elementor-element-c5a0dae {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-fabf706 .elementor-button .elementor-align-icon-right {
    margin-left: 18px;
}

.elementor-19 .elementor-element.elementor-element-fabf706 .elementor-button .elementor-align-icon-left {
    margin-right: 18px;
}

.elementor-19 .elementor-element.elementor-element-fabf706 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: #FFD814;
    border-style: solid;
    border-radius: 35px 35px 35px 35px;
    padding: 21px 35px 21px 21px;
}

.elementor-19 .elementor-element.elementor-element-fabf706>.elementor-widget-container {
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
}

.elementor-19 .elementor-element.elementor-element-fabf706.elementor-element {
    --align-self: center;
}

.elementor-19 .elementor-element.elementor-element-947ace3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 50px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-19 .elementor-element.elementor-element-c3f877e {
    font-family: "Montserrat", Sans-serif;
    font-size: 11px;
    font-weight: 400;
}

@media(min-width:768px) {
    .elementor-19 .elementor-element.elementor-element-a93d260 {
        --content-width: 1052px;
    }
    .elementor-19 .elementor-element.elementor-element-69f13e8 {
        --width: 48%;
    }
    .elementor-19 .elementor-element.elementor-element-bdac28f {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-19 .elementor-element.elementor-element-8959588 {
        font-size: 27px;
    }
    .elementor-19 .elementor-element.elementor-element-7ff4a58 {
        font-size: 16px;
    }
    .elementor-19 .elementor-element.elementor-element-7ff4a58>.elementor-widget-container {
        margin: -23px 0px 0px 0px;
    }
    .elementor-19 .elementor-element.elementor-element-858d628 {
        font-size: 24px;
    }
    .elementor-19 .elementor-element.elementor-element-11c2c9e {
        font-size: 24px;
    }
    .elementor-19 .elementor-element.elementor-element-7a323f0 {
        font-size: 20px;
    }
    .elementor-19 .elementor-element.elementor-element-fabf706 .elementor-button {
        font-size: 20px;
    }
    .elementor-19 .elementor-element.elementor-element-fabf706>.elementor-widget-container {
        margin: -1px -1px -1px -1px;
        padding: 0px 0px 0px 0px;
    }
}